.keypad {
  padding: 3rem;
  border-radius: 1rem;

  background-color: hsl(223, 31%, 20%);

  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(5, 5rem);
  gap: 2rem;
}
